{% include 'header.twig' %}
    {% include 'navbar.twig' %}
    
    {% include 'adminMenu.twig' with {'tab' : 1 } %}

    <div class="container-fluid content">

    <div class="container">
        <h4>{{ APP_NAME }} - panel administracyjny</h4>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
