{% include 'header.twig' %}
    {% include 'navbar.twig' %}

    <div class="container-fluid content">

    <div class="container">
        <h2 class="custom">Welcome, {{ user.Email }}!</h2>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
