{% include 'header.twig' %}
    {% include 'navbar.twig' %}

    <div class="container-fluid content">

    <div class="container">
        <h2 class="custom">Welcome, {{ user.Name }}!</h2>
        <p>Twój unikalny kod to <b>{{ user.Key }}</b></p>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
