{% if DEBUG %}
    <nav class="navbar navbar-default navbar-fixed-bottom debugPanel"
        <div class="container-fluid">
            {{ DEBUG_MSG }}
        </div>
    </nav>    
{% endif %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    <script>     
        $(document).ready(function() {
            $("#msgBox").delay(3000).fadeOut();
            $('#myTable').DataTable( {
                'searching': true
            } );        
            $(".form-signin").validate({
                rules:
                {
                    'rules-check':{ required:true }
                },
                messages:
                {
                    'rules-check':{ required:"(wymagana akceptacja)" }
                },
                errorPlacement: function(error, element)
                {
                    if (element.is(":checkbox"))
                    {
                        error.appendTo( element.parents('.checkbox') );
                    }
                    else
                    { // This is the default behavior
                        error.insertAfter( element );
                    }
                }
            });
            $("#register-with-fb").click(function() {                
                return $(".form-signin").valid();
            });
        });
    </script>
</body>
</html>
