{% include 'header.twig' %}
    {% include 'navbar.twig' %}

    <div class="container-fluid content">

    <div class="container">
        <h3 class="custom">Welcome</h3>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
