{% include 'header.twig' %}
    {% include 'navbar.twig' %}

    <div class="container-fluid content">

    <div class="container">
        <h2 class="custom">Dziękujemy za złożenie zamówienia.</h2>
        <div class="well">
            <p>Wkrótce skontaktujemy się z Tobą.</b></p>            
        </div>
    </div><!-- /.container   -->

    </div>
{% include 'footer.twig' %}
